<ion-header>
  <ion-toolbar>
    <ion-title>Detalles de la Tarea</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="cerrarModal()">Cerrar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="tarea">
    <ion-card>
      <ion-card-header>
        <ion-card-title>{{ tarea.titulo }}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p><strong>Descripción:</strong> {{ tarea.descripcion }}</p>
        <p><strong>Estado:</strong> {{ tarea.estado }}</p>
        <ion-button (click)="editarTarea()">Editar</ion-button>
        <ion-button (click)="finalizarTarea()">Finalizar</ion-button>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
