<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Lista de Tareas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Lista de Tareas</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list *ngIf="!cargando && tareas.length > 0">
    <ion-searchbar 
    animated="true" 
    placeholder="Buscar tareas" 
    (ionInput)="buscarTareas($event)">
  </ion-searchbar>
    <ion-item *ngFor="let tarea of tareas" (click)="verDetalles(tarea.id)">
      <ion-label>
        <h2>{{ tarea.titulo }}</h2>
        <p>{{ tarea.descripcion }}</p>
        <p>
          <strong>Estado: </strong>
          <span [style.color]="tarea.estado === 'completada' ? 'green' : 'red'">
            {{ tarea.estado }}
          </span>
        </p>
      </ion-label>
    </ion-item>
  </ion-list>

  <div *ngIf="!cargando && tareas.length === 0" class="no-tareas">
    <ion-text>No hay tareas para mostrar</ion-text>
  </div>

  <ion-loading *ngIf="cargando" message="Cargando tareas..." [isOpen]="cargando"></ion-loading>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="irACrear()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
